[Unit]
Description=shandian_status Service
After=network.target
Wants=network.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/local/shandian_status/client
User=root

[Install]
WantedBy=multi-user.target